MONGO_URL="your db url here"
JWT_EXPIRES_IN="set time experation here"
JWT_SECRET="here the generate code, remove the <"">, also you can generate it using this command on the cmd:   node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"